

- label = "NASA Shelter Concept Art"

.parent-vertical-centering
	.slick-carousel
		- 4.times do |i|
			= image_tag "concepts/shelter/shelter.large.b.0#{i+1}.jpg", alt: label


.text-center.actions
	%a#video_opener.button.tiny.radius
		-#{href:"#", data: {reveal: {id: "video_modal"}}}
		%h4
			%i.fi-play-circle
			Watch Teaser
	-#= mail_to "seeds@everytimehq.com", "contact us"

#video_modal.reveal-modal.full{data: {reveal: true}, role: "dialog", aria: {labelledby: "modalTitle", hidden: "true"}}
	-#%a.close-reveal-modal &#215;
	.text-right
		.modal_closer close

	= render partial: 'home/video', locals: {autoplay: false}

	.footer
		%span.email{data: {name: :seeds}}

