.full-screen-background
	.vertical-centered-parent
		.vertical-centered
			- image_paths = (1..4).to_a.collect {|i| asset_path "concepts/shelter/shelter.large.b.0#{i}.jpg" }
			%img.custom_carousel{data: {index: 0, list: image_paths} }

				.actions-parent.gradient.text-right

					.main_title
						%h1 SEEDS
						%h5 a feature film by Guillaume Fradin

					.credentials
						%h6 &bull; Bronze award in the science fiction category at the Beverly Hills Screenplay Competition
						%h6 &bull; In the top 15% of the Academy Nicholl Fellowship Competition
						-#= image_tag 'icons/festival_award.png'

					.actions
						%a.background-control.prev &#8612;
						%a#video_opener.button.tiny.radius.alert
							-#{href:"#", data: {reveal: {id: "video_modal"}}}
							%h4
								%i.fi-play-circle
								Watch Teaser
						%a.background-control.next &#8614;

			= render 'layouts/footer'

#video_modal.reveal-modal.full{data: {reveal: true}, role: "dialog", aria: {labelledby: "modalTitle", hidden: "true"}}
	-#%a.close-reveal-modal &#215;
	.text-right
		.modal_closer close

	= render partial: 'home/video', locals: {autoplay: false}
