- options = {}
- options[:controls] = true
- options[:autoplay] = autoplay
- options[:preload] = "auto"
- options[:width] = 1280
- options[:height] = 720
- options[:data] = {setup: ''}
- options[:class] = "video-js vjs-default-skin"
- options[:id] = "concept_video"

= video_tag "concept2.mp4", options	
