.row
	.column.small-12

		.text-center.main_title
			%h1 SEEDS
			%h5 a feature film by Guillaume Fradin

		.text-center.credentials
			= image_tag 'icons/festival_award.png'
			%h6 Bronze award in the science fiction category at the Beverly Hills Screenplay Competition
			%h6 In the top 15% of the Academy Nicholl Fellowship Competition

		= render 'concepts'


.row
	.column.small-12
		= render 'layouts/footer'
