$bg_color: #000
$color: #ddd
$faded_color: #999


@import 'foundation-icons'

body
	background-color: $bg_color


.parent-vertical-centering
	display: flex
	flex-direction: column
	justify-content: center

h1, h2, h3, h4, h5, h6, .modal_closer, .footer, .actions
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif
	font-weight: 300

	color: $color !important

.modal_closer
	&:hover
		:cursor pointer
		:text-decoration underline

.main_title
	:margin-bottom 20px
.credentials
	:border-top 1px solid #333
	:padding
		:top 20px
		:bottom 20px

.actions-parent
	:position absolute
	:top -1px
	:left 0px
	:width 100%
	:padding 0px 50px

.gradient
	background: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1))
	background: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1))
	background: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1))
	background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1))

#concept_video
	width: 100% !important

.full-screen-background
	:position absolute
	:width 100%
	:height 100%

.vertical-centered-parent
	:position relative
	:height 100%
	.vertical-centered
		position: absolute
		top: 50%
		transform: translateY(-50%)


.background-control
	:font-size 60px
	:padding 10px
	:display inline-block
	:position relative
	:top 12px

.footer
	:margin-top 40px
	:padding 10px
	:text-align right
	:border-top 1px solid $faded_color
	:color $faded_color
	:font-size 12px
