!!!
%html{html_attrs}
	= render 'layouts/head'
	%body
		.row
			.column.small-12

				.text-center.main_title
					%h1 SEEDS
					%h5 a feature film by Guillaume Fradin



				= yield

		.row
			.column.small-12
				= render 'layouts/footer'